*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

nav,
footer,
header,
aside,
main {
    display: block;
}

h1 {
    font-size: 2em;
}

ul:not([class]),
ol:not([class]) {
    padding-left: 1.5em;
}
ul:not([class]) li {
    list-style: disc;
}
ol:not([class]) li {
    list-style: decimal;
}
ul[class] li,
ol[class] li {
    list-style: none;
}
a,
button,
input[type="submit"] {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

@font-face {
    font-display: swap;
    font-family: "Cereal";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cereal400.woff2") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Cereal";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cereal400C.woff2") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Cereal";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/cereal600.woff2") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Cereal";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/cereal600C.woff2") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Cereal";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/cereal700.woff2") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Cereal";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/cereal700C.woff2") format("woff2");
}

:root {
    --color-1: 149, 209, 202;
    --color-2: 158, 216, 175;
    --color-3: 126, 176, 195;
    --color-4: 0, 119, 200;
    --gradient-1: linear-gradient(90deg, rgb(var(--color-1)) 0%, rgb(var(--color-2)) 100%);
}

body {
    font-family: "Cereal", sans-serif;
    background-color: #fbfafa;
}

html {
    scroll-behavior: smooth;
}

.page {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

._lock {
    overflow: hidden;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 991.98px) {
    .main {
        padding-top: 100px;
    }
    .container {
        max-width: 1200px;
        padding: 0 15px;
    }
}

.header {
    background-color: #fbfafa;
    border-bottom: 1px solid rgba(232, 233, 236, 1);
}
.topnav {
    background-color: rgba(var(--color-1), 0.15);
    padding: 5px 0;
    font-size: 14px;
    line-height: 1.2;
}
.topnav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topnav a {
    text-decoration: none;
    color: #000;
    padding: 6px;
}
.topnav a:hover {
    text-decoration: underline;
}
.topnav span,
.topnav a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
.topnav span:not(:last-child)::after {
    content: "|";
    display: inline-block;
    padding: 0 3px;
    color: #000;
    opacity: 0.7;
}
.topnav .left,
.topnav .right {
    display: flex;
    align-items: center;
}
.topnav .address {
    opacity: 0.9;
    white-space: wrap;
}
.topnav .phone::before,
.topnav .telegram::before,
.topnav .viber::before,
.topnav .instagram::before,
.topnav .fmessenger::before,
.topnav .profile::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.topnav .phone::before {
    background-image: url("../img/icons/phone.svg");
    margin-right: 3px;
}
.topnav .telegram::before {
    background-image: url("../img/icons/telegram.svg");
}
.topnav .viber::before {
    background-image: url("../img/icons/viber.svg");
}
.topnav .instagram::before {
    background-image: url("../img/icons/instagram.svg");
}
.topnav .fmessenger::before {
    background-image: url("../img/icons/fmessenger.svg");
}
.topnav .profile::before {
    background-image: url("../img/icons/profile.svg");
    margin-right: 3px;
}
.topnav .select-lang {
    padding-left: 5px;
    position: relative;
    background: none;
    border: none;
}
.topnav .select-lang > span::after {
    content: none !important;
}
.topnav .select-lang > span {
    background-color: #fff;
    padding: 3px 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.topnav .select-lang .list {
    margin-top: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 3px 5px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease 0s,
        visibility 0s ease 0.3s;
}
.topnav .select-lang .list a {
    width: 100%;
    text-align: left;
    justify-content: flex-start;
}
.topnav .select-lang:hover .list,
.topnav .select-lang:focus-within .list {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}
.navbar {
    padding: 5px 0;
}
.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .left {
    flex: 1 1 auto;
}
.navbar .logo {
    display: block;
    width: 100%;
}
.navbar .logo img {
    display: block;
    max-width: 170px;
    width: 100%;
    height: auto;
}
.navbar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .menu-item a {
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #000;
    transition: color 0.3s ease;
    text-align: center;
}
.navbar .menu-item.current a,
.navbar .menu-item a:hover {
    color: rgba(var(--color-4));
}
.navbar .profile,
.navbar .burger {
    display: none;
}
.mobile {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    transition:
        opacity 0.3s ease 0s,
        visibility 0s ease 0.3s;
    opacity: 0;
    visibility: hidden;
}
.mobile._active {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}
.mobile-inner {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    height: 100%;
    background-color: #fffefe;
    overflow: auto;
    transition: transform 0.3s ease 0s;
    transform: translateX(-400px);
}
.mobile._active .mobile-inner {
    transform: translateX(0);
}
.mobile .top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.mobile .logo {
    display: block;
}
.mobile .logo img {
    display: block;
    max-width: 150px;
    width: 100%;
    height: auto;
}
.mobile .close {
    background: none;
    border: none;
    width: 35px;
    height: 35px;
}
.mobile .close img {
    display: block;
    width: 100%;
    height: 100%;
}
.mobile .menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.mobile .menu-item a {
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    color: #000;
    transition:
        color 0.3s ease,
        background-color 0.3s ease,
        padding 0.3s ease;
}
.mobile .menu-item.current a,
.mobile .menu-item a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    padding-left: 30px;
}
.mobile .phone {
    display: block;
    color: #000;
    padding: 12px 14px;
    font-size: 18px;
    text-decoration: none;
}
.mobile .phone:hover {
    text-decoration: underline;
}
.mobile .social span:not(:last-child)::after {
    content: "|";
    display: inline-block;
    padding: 0 3px;
    color: #000;
    font-size: inherit;
    opacity: 0.7;
}
.mobile .social span,
.mobile .social a,
.mobile .lang span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.mobile .social {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}
.mobile .social a {
    padding: 5px;
}
.mobile .telegram::before,
.mobile .viber::before,
.mobile .instagram::before,
.mobile .fmessenger::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mobile .telegram::before {
    background-image: url("../img/icons/telegram.svg");
}
.mobile .viber::before {
    background-image: url("../img/icons/viber.svg");
}
.mobile .instagram::before {
    background-image: url("../img/icons/instagram.svg");
}
.mobile .fmessenger::before {
    background-image: url("../img/icons/fmessenger.svg");
}
.mobile .lang {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 20px;
}
.mobile .lang a {
    color: #000;
    text-decoration: none;
    padding: 8px 5px;
    display: block;
    width: 100%;
}
.mobile .lang a:hover {
    text-decoration: underline;
}
@media (max-width: 991.98px) {
    .header {
        position: fixed;
        z-index: 5;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }
    .header .container {
        padding: 0 10px;
    }
    .topnav {
        padding: 4px 0;
        font-size: 12px;
    }
    .topnav span:not(:last-child)::after {
        padding: 0;
    }
    .navbar {
        padding: 4px 0;
    }
    .navbar .logo img {
        max-width: 150px;
    }
    .navbar .menu-item a {
        font-size: 15px;
    }
}
@media (max-width: 767.98px) {
    .topnav-inner {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .topnav span::after {
        content: none !important;
    }
    .topnav .right {
        display: none;
    }
    .topnav .select-lang {
        display: none;
    }
    .navbar .menu {
        display: none;
    }
    .navbar .right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar .profile,
    .navbar .burger {
        display: block;
    }
    .navbar .profile {
        margin-right: 10px;
    }
    .navbar .profile::before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background: url("../img/icons/profile.svg");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .navbar .burger {
        background: none;
        border: none;
        width: 35px;
        height: 35px;
    }
    .navbar .burger img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 399.98px) {
    .mobile-inner {
        max-width: 100%;
    }
}

.hero {
    display: block;
    padding: 60px 0;
}
.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero .content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
.hero .content h1 {
    font-size: 45px;
    line-height: 1.2;
}
.hero .content span {
    font-weight: 700;
    margin-bottom: 20px;
}
.hero .content p {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
    opacity: 0.8;
}
.btn {
    background: none;
    border: none;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 100px;
    background-color: #fff;
    border: 2px solid rgba(var(--color-1), 1);
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    min-width: 100px;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}
.btn-prim {
    background-color: rgb(var(--color-1));
    border: none;
    color: #353535;
}
.btn:hover {
    transform: translateY(-3px);
}
.btn:active {
    transform: scale(0.95);
}
.hero .btns {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
.hero .btn {
    margin-right: 10px;
    margin-bottom: 10px;
}
.hero .circle {
    flex: 0 1 50%;
    margin: 0 40px 0 20px;
    position: relative;
}
.hero .image {
    width: 100%;
}
.hero .image img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 100%;
    box-shadow: 0 0 100px rgba(var(--color-1), 0.8);
}
.hero .cards {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0;
}
.hero .card {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 12px 15px;
    border-radius: 20px;
    max-width: 60%;
    box-shadow: 0 0 10px rgba(var(--color-1), 0.5);
    position: relative;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}
.hero .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(var(--color-1), 0.5);
}
.hero .card:nth-child(1) {
    align-self: flex-start;
    left: -20px;
}
.hero .card:nth-child(2) {
    align-self: flex-end;
    left: 40px;
}
.hero .card:nth-child(3) {
    align-self: flex-start;
    left: -20px;
}
.hero .card .icon {
    display: block;
}
.hero .card .icon img {
    display: block;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.hero .card span {
    font-size: 18px;
    line-height: 1.2;
}

@media (max-width: 1199.98px) {
    .hero .content h1 {
        font-size: 40px;
    }
    .hero .content p {
        font-size: 16px;
    }
    .hero .card {
        padding: 11px 14px;
    }
    .hero .card .icon img {
        width: 60px;
        height: 60px;
    }
    .hero .card span {
        font-size: 16px;
    }
}
@media (max-width: 991.98px) {
    .hero {
        padding: 40px 0;
    }
    .hero .content {
        flex: 1 1 55%;
        max-width: 480px;
        width: 100%;
    }
    .hero .circle {
        flex: 1 1 45%;
        margin: 0;
        margin-left: 30px;
        margin-right: -200px;
    }
    .hero .image img {
        width: 500px;
        max-width: unset;
        height: auto;
    }
    .hero .card {
        max-width: 320px;
        width: 100%;
    }
    .hero .card:nth-child(1) {
        align-self: flex-start;
        left: -30px;
    }
    .hero .card:nth-child(2) {
        align-self: flex-start;
        left: -30px;
    }
    .hero .card:nth-child(3) {
        align-self: flex-start;
        left: -30px;
    }
}
@media (max-width: 767.98px) {
    .hero {
        padding: 20px 0 40px 0;
    }
    .hero-inner {
        flex-direction: column;
        align-items: stretch;
    }
    .hero .content {
        flex: 1 1 100%;
        width: 100%;
        align-self: flex-start;
        margin: 0;
    }
    .hero .content h1 {
        font-size: 35px;
    }
    .hero .circle {
        flex: 1 1 100%;
        width: 100%;
        margin: 0;
        margin-top: -50px;
        display: flex;
        justify-content: flex-end;
    }
    .hero .image {
        width: auto;
        align-self: flex-end;
        margin-right: -200px;
    }
    .hero .cards {
        max-width: 650px;
        width: 100%;
        left: unset;
        right: 0;
    }
    .hero .card:nth-child(1) {
        left: 30px;
    }
    .hero .card:nth-child(2) {
        left: 80px;
    }
    .hero .card:nth-child(3) {
        left: 30px;
    }
}
@media (max-width: 499.98px) {
    .hero .circle {
        margin: 0;
        margin-bottom: 100px;
    }
    .hero .image {
        margin: 0;
        position: absolute;
        z-index: -1;
        top: 0;
        right: -150px;
    }
    .hero .image img {
        width: 400px;
    }
    .hero .cards {
        position: static;
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }
    .hero .card:not(:last-child) {
        margin-bottom: 20px;
    }
    .hero .card:nth-child(1) {
        left: 0;
    }
    .hero .card:nth-child(2) {
        left: 0;
    }
    .hero .card:nth-child(3) {
        left: 0;
    }
}
.offer {
    padding: 60px 0;
    background: var(--gradient-1);
}
.offer-inner {
    display: block;
}
.offer .list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: -20px;
}
.offer .item {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.offer .item .icon {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    background: rgb(77, 155, 185);
    padding: 12px;
    border-radius: 100%;
    margin-bottom: 12px;
}
.offer .item img {
    display: block;
    width: 100%;
    height: auto;
}
.offer .item h2 {
    font-size: 21px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.offer .item p {
    opacity: 0.8;
}
@media (max-width: 1199.98px) {
    .offer .list {
        margin: -15px;
    }
    .offer .item {
        padding: 15px;
    }
}
@media (max-width: 991.98px) {
    .offer {
        padding: 40px 0;
    }
    .offer .item {
        width: 50%;
    }
}
@media (max-width: 767.98px) {
    .offer .list {
        margin: -12px;
    }
    .offer .item {
        padding: 12px;
    }
}
@media (max-width: 599.98px) {
    .offer .item {
        width: 100%;
        flex-direction: row;
    }
    .offer .item .icon {
        min-width: 50px;
        min-height: 50px;
        max-width: 50px;
        max-height: 50px;
        padding: 10px;
        margin-bottom: 0;
        margin-right: 12px;
    }
}
.office {
    padding: 60px 0;
}
.office-inner {
    display: block;
}
.office-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}
.office-top h2 {
    font-size: 45px;
    line-height: 1.2;
}
.office-filter {
    cursor: default;
    background: none;
    border: none;
}
.office-filter .toggle {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    padding: 10px 15px 10px 12px;
}
.office-filter .toggle::before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../img/icons/filter.svg");
    margin-right: 5px;
}
.office-filter .filter {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #fff;
    color: #000;
    border: 2px solid rgba(var(--color-1), 1);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition:
        opacity 0.3s ease 0s,
        transform 0.3s ease 0s,
        visibility 0s ease 0.3s;

    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.office-filter._active .filter {
    transition-delay: 0s;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
.office-filter .filter > label {
    display: flex;
    flex-direction: column;
    width: 33.333%;
    padding: 5px;
}
.office-filter .filter > label span {
    align-self: flex-start;
    margin-bottom: 5px;
}
.office-filter .filter > label input {
    width: 100%;
}
.custom-date {
    position: relative;
}
.custom-date input[type="date"] {
    appearance: none;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 36px;
}
.custom-time {
    position: relative;
}
.custom-time input[type="time"] {
    appearance: none;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 36px;
}
.custom-select {
    position: relative;
}
.custom-select select {
    appearance: none;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 36px;
}
.custom-input {
    position: relative;
}
.custom-input input[type="text"] {
    appearance: none;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 36px;
}
.office-filter .extra {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}
.office-filter .extra .caption {
    width: 100%;
    text-align: left;
    padding: 5px;
}
.office-filter .extra label {
    width: 33.333%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
}
.office-filter .extra input {
    min-width: 19px;
    min-height: 19px;
    max-width: 19px;
    max-height: 19px;
    margin-right: 5px;
}
.office-filter .extra span {
    margin: 0;
}
.office-list {
    display: block;
}
.office-list .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
}
.office-list .item {
    width: 33.333%;
    display: flex;
    flex-direction: column;
}
.office-list .inner {
    flex: 1 1 auto;
    margin: 15px;
    border-radius: 30px;
    overflow: hidden;
    background: #ededed;
    display: flex;
    flex-direction: column;
}
.office-list .images {
    position: relative;
}
.office-list .tour {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 15px;
    background: #dddddd;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    color: #000;
    box-shadow: 2px 2px 0 0px #b4b4b4;
    opacity: 0;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease,
        background-color 0.3s ease;
}
.office-list .inner:hover .tour {
    opacity: 1;
}
.office-list .tour:hover {
    background: #ededed;
}
.office-list .tour:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0 0px #b4b4b4;
}
.office-list .swiper {
    width: 100%;
}
.office-list .swiper-wrapper {
    width: 100%;
}
.office-list .swiper-slide {
    width: 100%;
    position: relative;
}
.office-list .swiper-slide::before {
    content: "";
    display: block;
    padding-top: 70%;
}
.office-list .swiper-slide img {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}
.office-list .swiper-button-prev,
.office-list .swiper-button-next {
    user-select: none;
    top: 50%;
    transform: translateY(-50%);
    left: unset;
    right: unset;
    bottom: unset;
    width: 35px;
    height: 35px;
    margin: 0;
    background: #dddddd;
    border-radius: 50%;
    padding: 7px;
    -webkit-tap-highlight-color: transparent;
    opacity: 0;
    transition:
        opacity 0.3s ease,
        background-color 0.3s ease;
}
.office-list .inner:hover .swiper-button-prev,
.office-list .inner:hover .swiper-button-next {
    opacity: 1;
}
.office-list .swiper-button-prev:hover,
.office-list .swiper-button-next:hover {
    background: #ededed;
}
.office-list .swiper-button-prev {
    left: 10px;
}
.office-list .swiper-button-next {
    right: 10px;
}
.office-list .swiper-button-prev::after,
.office-list .swiper-button-next::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../img/icons/arrow.svg");
}
.office-list .swiper-button-next::after {
    transform: rotate(180deg);
}
.office-list .swiper-pagination {
    width: auto;
    top: unset;
    left: unset;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 7px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}
.office-list .content {
    padding: 20px;
    display: block;
    text-decoration: none;
    color: #000;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.office-list .title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 15px;
}
.office-list .features {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -5px;
    margin-bottom: 10px;
}
.office-list .features > span {
    width: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.office-list .features > span::before {
    content: "";
    display: block;
    min-width: 22px;
    min-height: 22px;
    max-width: 22px;
    max-width: 22px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 5px;
}
.office-list .square::before {
    background-image: url("../img/icons/square.svg");
}
.office-list .capacity::before {
    background-image: url("../img/icons/capacity.svg");
}
.office-list .chair::before {
    background-image: url("../img/icons/chair.svg");
}
.office-list .projector::before {
    background-image: url("../img/icons/projector.svg");
}
.office-list .table::before {
    background-image: url("../img/icons/table.svg");
}
.office-list .price {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.office-list .btn {
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    padding: 12px 15px;
    margin-top: auto;
}
@media (max-width: 1199.98px) {
    .office-top h2 {
        font-size: 40px;
    }
}
@media (max-width: 991.98px) {
    .office {
        padding: 40px 0;
    }
    .office-list .list {
        margin: -10px;
    }
    .office-list .inner {
        margin: 10px;
    }
    .office-list .tour {
        opacity: 1;
    }
    .office-list .content {
        padding: 15px;
    }
    .office-list .title {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .office-list .features {
        margin-bottom: 8px;
    }
    .office-list .features > span {
        font-size: 14px;
    }
    .office-list .price {
        font-size: 18px;
        margin-bottom: 17px;
    }
}
@media (max-width: 899.98px) {
    .office-list .item {
        width: 50%;
    }
}
@media (max-width: 767.98px) {
    .office-top h2 {
        font-size: 35px;
    }
    .office-filter .filter {
        padding: 10px;
    }
    .office-filter .filter > label {
        width: 50%;
    }
}
@media (max-width: 599.98px) {
    .office-top h2 {
        font-size: 30px;
    }
    .office-filter .toggle {
        padding: 8px 13px 8px 10px;
        font-size: 14px;
    }
    .office-filter .toggle::before {
        width: 15px;
        height: 15px;
    }
    .office-filter .extra label {
        width: 50%;
    }
    .office-filter .extra input {
        min-width: 16px;
        min-height: 16px;
        max-width: 16px;
        max-height: 16px;
        margin-right: 3px;
        margin-top: 2px;
    }
    .office-list .item {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }
}
@media (max-width: 499.98px) {
    .office-filter .filter > label {
        width: 100%;
    }
    .office-filter .extra label {
        width: 100%;
    }
}
.advantage {
    padding: 60px 0;
    background: var(--gradient-1);
}
.advantage-inner {
    display: block;
}
.advantage-inner > h2 {
    font-size: 50px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 80px;
}
.advantage .list {
    counter-reset: advantage;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: -30px 10px;
}
.advantage .item {
    counter-increment: advantage;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    font-size: 20px;
    line-height: 1.2;
    position: relative;
    z-index: 1;
}
.advantage .item::before {
    content: "0" counter(advantage);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translate(-5%, -25%);
    font-size: 100px;
    font-weight: 700;
    opacity: 0.05;
}
.advantage .item:nth-child(n + 10)::before {
    content: counter(advantage);
}
@media (max-width: 1199.98px) {
    .advantage-inner > h2 {
        font-size: 45px;
    }
}
@media (max-width: 991.98px) {
    .advantage .item {
        width: 50%;
    }
}
@media (max-width: 767.98px) {
    .advantage-inner > h2 {
        font-size: 40px;
        margin-bottom: 60px;
    }
    .advantage {
        padding: 40px 0;
    }
    .advantage .item {
        width: 100%;
    }
    .advantage .item::before {
        font-size: 80px;
    }
}
@media (max-width: 599.98px) {
    .advantage-inner > h2 {
        font-size: 35px;
    }
    .advantage .list {
        margin: -30px 10px;
    }
    .advantage .item {
        padding: 30px 0 30px 25px;
    }
}

.difference {
    padding: 60px 0;
}
.difference-inner {
    display: block;
}
.difference-inner > h2 {
    font-size: 50px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 60px;
}
.difference .list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: -20px;
}
.difference .item {
    width: 33.333%;
    padding: 20px;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
}
.difference .item::before {
    content: "";
    display: block;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../img/icons/mark.svg");
    margin-top: -4px;
    margin-right: 8px;
}
@media (max-width: 1199.98px) {
    .difference-inner > h2 {
        font-size: 45px;
    }
    .difference .list {
        margin: -15px;
    }
    .difference .item {
        padding: 15px;
    }
}
@media (max-width: 991.98px) {
    .difference {
        padding: 40px 0;
    }
    .difference .item {
        width: 50%;
    }
}
@media (max-width: 767.98px) {
    .difference-inner > h2 {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .difference {
        padding: 40px 0;
    }
    .difference .list {
        margin: -12px;
    }
    .difference .item {
        padding: 12px;
    }
}
@media (max-width: 599.98px) {
    .difference-inner > h2 {
        font-size: 35px;
    }
    .difference .item {
        width: 100%;
    }
}
